HolaMundo/wsdl/LindaServicesService_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:tns="http://services.linda.co.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://services.linda.co.com/" version="1.0">
<xs:element name="servicioLinda" type="tns:servicioLinda"/>
<xs:element name="servicioLindaResponse" type="tns:servicioLindaResponse"/>
<xs:complexType name="servicioLinda">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="servicioLindaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
